Mobistar_v2/IBPWebService/src/WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.4-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.4-b01-. -->
<!-- WSDL Version 1.0 -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://web_service.ibp.ericsson.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_service.ibp.ericsson.com/"
	name="CustomerInformationProviderService">
	<types>
		<xsd:schema>
			<xs:schema xmlns:tns="http://web_service.ibp.ericsson.com/"
				xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
				targetNamespace="http://web_service.ibp.ericsson.com/">

				<xs:element name="GetProviderConsumerLink" type="tns:GetProviderConsumerLink" />

				<xs:element name="GetProviderConsumerLinkResponse" type="tns:GetProviderConsumerLinkResponse" />

				<xs:complexType name="GetProviderConsumerLink">
					<xs:sequence>
						<xs:element name="providerMSISDN" type="xs:string"
							minOccurs="0" />
						<xs:element name="providerAccountOfferId" type="xs:string"
							minOccurs="0" />
					</xs:sequence>
				</xs:complexType>

				<xs:complexType name="GetProviderConsumerLinkResponse">
					<xs:sequence>
						<xs:element name="consumer" type="xs:string" minOccurs="0"
							maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:schema>
		</xsd:schema>
	</types>
	<message name="GetProviderConsumerLink">
		<part name="parameters" element="tns:GetProviderConsumerLink" />
	</message>
	<message name="GetProviderConsumerLinkResponse">
		<part name="parameters" element="tns:GetProviderConsumerLinkResponse" />
	</message>
	<portType name="CustomerInformationProvider">
		<operation name="GetProviderConsumerLink">
			<input message="tns:GetProviderConsumerLink" />
			<output message="tns:GetProviderConsumerLinkResponse" />
		</operation>
	</portType>
	<binding name="CustomerInformationProviderPortBinding" type="tns:CustomerInformationProvider">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="GetProviderConsumerLink">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="CustomerInformationProviderService">
		<port name="CustomerInformationProviderPort" binding="tns:CustomerInformationProviderPortBinding">
			<soap:address location="http://localhost:8086/IBPWebService/getCustomerInfo" />
		</port>
	</service>
</definitions>